#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  text-align: justify;
  white-space: pre-line;  
  vertical-align: bottom;
}

#bold {
  font-weight: bolder;
}

#bolder {
  font-weight: bolder;
  text-decoration: underline;
}

#list {
  margin-right: 25px;
  margin-top: 90px;
  min-width: 150px;
  position: fixed;
  padding-left: 2rem;
}

#info {
  margin-top: 50px;
  margin-left: 200px;
  padding-right: 2rem;
  margin-bottom: 35px;
}

#filters {
  text-align: center;
  width: 100%;
}

h2 {
  margin-bottom: 2px;
  text-align: center;
}

h4 {
  margin: 5px;
  text-align: center;
  text-decoration: underline;
}

table {
  width: 100%;
}

li {
  border-style: solid;
  border-color: silver;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  margin-bottom: 5px; 
  list-style: none; 
}

.index-button {
  border: none; 
  background-color: transparent; 
  text-align: right;
  padding: 0px;
  padding-right: 5px;
  width: 100%;
  opacity: 0.6;
  transition: 0.3s;
}:hover {opacity: 1}

#head-button {
  border: none; 
  text-align: center;
  padding-bottom: 1-px;
  padding-top: 10px;
  width: 125px;
  border-radius: 0px;
}

#filter-button {
  margin-right: 7.5px;
  margin-left: 7.5px;
}

.unselected {
  background-color: #242424;
  opacity: 0.6;
  transition: 0.3s;
}:hover {opacity: 1}

.selected {
  background-color: #35465c;
  opacity: 0.6;
  transition: 0.3s;
}:hover {opacity: 1}

header {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #1a1a1a;
  z-index: 1; 
}